@media (max-width: 1230px) {
    /* .wrapper {
        padding: 40px 30px 60px;
    } */

    .header {
        padding-top: 40px;
    }

    .header-content {
        margin-top: 0;
        margin-bottom: 20px;
    }

    /* .header-content p {
        margin-bottom: 20px;
    } */

    .header-img {
        text-align: center;
    }

    .header-row {
        flex-direction: column;
    }

    /* .header-heading {
        font-size: 44px;
        line-height: auto;

        padding-bottom: 20px;
    } */

    .header-nav {
        margin-bottom: 50px;
    }

    .nav__list {
        display: none;
    }

    .nav__button {
        display: block;

        position: absolute;
        z-index: 0;

        top: 46px;
        right: 30px;
    }

    .nav.open .nav__button {
        position: fixed;
        z-index: 1;
    }

    .nav.open .nav__list {
        display: flex;
        flex-direction: column;

        row-gap: 40px;

        position: fixed;

        top: 0;
        bottom: 0;

        left: 0;
        right: 0;

        background-color: #fff;
        z-index: 1;

        padding: 46px 30px;

        font-size: 34px;
        font-weight: 600;
    }

    .nav__link {
        color: #828282;
    }

    .nav__link.active {
        color: #090909;
    }
}

@media (max-width: 700px) {
    .header-heading {
        font-size: 34px;
        line-height: 130%;
        /* padding-bottom: 20px; */
    }

    .header-heading span {
        font-size: 28px;
    }

    .services {
        padding: 60px 0;
    }

    .portfolio {
        padding: 60px 0;
    }

    .portfolio__title {
        margin-bottom: 50px;
        /* text-align: center; */
    }

    .project + .project {
        margin-top: 50px;
    }

    .project__img {
        margin-bottom: 30px;
    }

    .contacts {
        padding: 60px 0;
    }

    .contacts__title {
        margin-bottom: 20px;
    }

    .contacts__content {
        /* margin: 0 auto 20px; */
        margin-bottom: 20px;
    }

    .contacts__button {
        margin-bottom: 70px;
    }

    .contacts__social {
        column-gap: 52px;
        margin-bottom: 20px;
    }
}
